*.log

.DS_Store
Thumbs.db

*.app
*.exe
*.war
*.zip
*-autosave.kra

*.blob

*.csproj
*.sln
.vsconfig

.vs/
obj/

*.png~

[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Uu]serSettings/
[Tt]emp/
[Ll]ogs/

/[Aa]rtifacts/
/[Cc]odeCoverage/
Keystore/

Assets/GooglePlayGames/com.google.play.games/Editor/